body{
    display:flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 0px 10px;
}

.header .logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header .link{
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
    gap: 18px;

}

.galerie{
    background-color: #1F2937;
    display: flex;
    padding: 50px 180px 50px 180px;

}

.galerie-left{
    color:#E5E7EB
}

.galerie-right{
    color: #E5E7EB;
}





