body{
    display:flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 0px 10px;
}

.header .logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header .link{
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
    gap: 18px;
}

.galerie{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 50px 100px 50px 100px;

}

.galerie-left{
    color:#E5E7EB;
    flex:1;
}
.galerie-left > *{
    margin: 0px;
}

.galerie-left > button{
    background-color: #3b82f6;
    color: #E5E7EB;
    padding: 5px 10px;
    border-radius: 10px;
    border-style: none;
}

.galerie-left > p{
    margin-bottom: 10px;
    color: #b8b8b8;
}

.galerie-right{
    color: #E5E7EB;
    flex:1;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #6d747d;
}

.random-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px 50px 150px;

}

.info .image{
    border-radius: 10px;
    height: 10vw;
    width: 10vw;
    border: 2px solid #3b82f6;
    flex: 1 0 auto;
}

.info p{
    height: 10vw;
    width: 10vw;
    text-align: center;
}
.info{
    display: flex;
    gap: 5vw;
    
}

.quote{
    display: flex;
    background-color: #e5e7eb;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.quote > p{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    padding: 150px 100px 0px 100px;
    margin: 0px;
}

.quote > .auteur{
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    padding:0px 0px 150px 0px;
    margin-right: 200px;

}

.call{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px 50px 100px;
    background-color: #3b82f6;
    margin: 100px;
    border-radius: 10px;
    color: #E5E7EB;
}

.call .titre{
    font-size: 20px;
    font-weight: bold;
}

.call > *{
    margin:0px;
}

.call > button{
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    border-style: solid;
    background-color: #3b82f6;
    border-width: 2px;
    border-color: #E5E7EB;
    color: #E5E7EB;
    width: 150px;
    height: 40px;
}

.call-left > p{
    margin: 0px;
}

#sous-titre1{
    color: #c6c6c6;
}

.footer{
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 10px;
}








